![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [3]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [4]:
schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing'] 

best_math_schools = schools[['school_name', 'average_math']].copy()
best_math_schools = best_math_schools[best_math_schools['average_math']>0.8*800]
best_math_schools =  best_math_schools.sort_values("average_math", ascending = False)
top_10_schools = schools[['school_name', 'total_SAT']].copy()
top_10_schools = top_10_schools.sort_values('total_SAT', ascending = False).head(10)

In [5]:
import numpy as np

stat_per_borough  = schools.groupby('borough').agg({'school_name': 'count', 'total_SAT': ['mean', 'std']}).round(2)

stat_per_borough.columns = ['num_schools', 'average_SAT', 'std_SAT']
stat_per_borough = stat_per_borough.sort_values('std_SAT', ascending = False)
largest_std_dev = stat_per_borough.head(1)
largest_std_dev

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29